.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

log_search.sh

### IntelliJ IDEA ###
.idea/
.run
.name

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store